<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="master :: master">
	<head>
		<title>Search University</title>
	</head>
	
	<body>
		<div th:fragment="content" class="col-md-8 col-md-offset-2">
	
			<div>
				<h3>Search Universiy</h3>
				<hr></hr>
			
				<form action="/sekre/search/univ/result" method="post">
					<ul class="list-group">
					  <li class="list-group-item"><label for="name">University Name</label> <input type="text" name="name"/></li>
					</ul>		
		
					<div>
							<button type="submit" name="action" value="save">Search</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
