<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="master :: master">
	
<head>
	<title>Curriculum Index</title>
</head>

<body>
	<div th:fragment="content" class="col-md-8 col-md-offset-2">

	<div>
		<div class="col-sm-4">
			<h3 th:text="'No search result'"></h3>
		</div>
		<div class="col-sm-6"></div>
		<div class="col-sm-2">
			<a class="text-warning" th:href="'/sekre/3A'">
				<button type="button" class="btn btn-warning">Back</button>
			</a>
		</div>
	</div>
	</div>
</body>
</html>
