<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="master :: master">
	
<head>
	<title>View Obligatory</title>
</head>

<body>
	<div th:fragment="content" class="col-md-8 col-md-offset-2">

	<div>
		<div class="col-sm-4">
			<h3 th:text="${curriculum.idCurriculum} + ' - ' + ${curriculum.year}"></h3>
			<h4 th:text="${description}"></h4>
		</div>
		<div class="col-sm-6"></div>
	</div>
	
	<div>
		<h2 class="text-center">List of Courses</h2>
		<br> </br>	
		<table id="datatable" class="table display">
			<thead>
				<tr>
					<th>ID Course</th>
					<th>Course Name</th>
					<th>SKS</th>
					<th>Obligatory</th>
					<th>Detail</th>
				</tr>
			</thead>
			<tbody>
				<div th:each="course,iterationStatus: ${courses}">
					<tr>
						<td>
							<p th:text="${course.idCourse}"></p>
						</td>
						<td>
							<p th:text="${course.courseName}"></p>
						</td>
						<td>
							<p th:text="${course.sks}"></p>
						</td>
						<td>
							<p th:text="${course.sksRequired}"></p>
						</td>
						<td>
							 <a th:href="'/sekre/course/view/'+${course.idCourse}"><button type="button" class="btn btn-primary">See Details</button> </a>	
						</td>
					</tr>
				</div>
			</tbody>
		</table>
	</div>
	</div>
</body>
</html>