<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:include="master :: master">

<head>
<title>View Major</title>
</head>

<body>
	<div th:fragment="content" class="col-md-8 col-md-offset-2">
		<div>
			<div class="col-sm-4">
				<h3 th:text="${major.idMajor} + ' - ' + ${major.majorName}"></h3>
			</div>
			<div class="col-sm-6"></div>
			<div class="col-sm-2">
				<a class="text-alert"
					th:href="'/sekre/major/active/' + ${major.idMajor}">
					<button type="button" class="btn btn-danger">Aktifkan Major</button>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
