<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="master :: master">

<head>
<title>View Faculty</title>

</head>
<body>
	<div th:fragment="content" class="col-md-8 col-md-offset-2">
	
	<div>
		<div class="col-sm-4">
			<h3 th:text="${faculty.facultyName} + ' - ' + ${univ.univName} + ' (Tidak Aktif)'"></h3>
			<h3 th:text="'Group: ' + ${group.groupName}" ></h3>
			<h3 th:text="'Akreditasi: ' + ${faculty.accreditation}"></h3>
			<h4 th:text = "'Telephone Number: ' + ${faculty.telephoneNumber}"> </h4>
		</div>
		<div class="col-sm-6"></div>
		<div class="col-sm-2">
			<a class="text-alert" th:href="'/sekre/faculty/active/' + ${faculty.idFaculty}"><button
					type="button" class="btn btn-danger">Aktifkan Fakultas</button> </a>
		</div>
	</div>
</div>
</body>
</html>
