<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="master :: master">

<head>
<title>View Group</title>

</head>
<body>
	<div th:fragment="content" class="col-md-8 col-md-offset-2">

		<div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4">

				<h1 class="page-header">View Group</h1>
				<form action="/sekre/group/viewAll" method="get">
					
					<div class="form-group blu-margin">
						<label> Pick University </label><br></br> <select name="picker"
							class="btn w3-btn w3-hover-red dropdown-toggle" type="button"
							data-toggle="dropdown">
							<option th:each="univ : ${univ}" th:value="${univ.idUniv}"
								th:text="${univ.univName}"></option>
						</select>
					</div>
					
					<div>
						<button type="submit" name="action" value="save">Add Group</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>
