<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:include="master :: master">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>Tugas Akhir EAAP - A - Kelompok 3</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/datatables.min.css" />
<link rel="stylesheet" href="/css/style.css" />

<script src="/js/jquery.min.js" defer="defer"></script>
<script src="/js/bootstrap.min.js" defer="defer"></script>
<script src="datatables.min.js" defer="defer"></script>
</head>
<body>
	<!--  <nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="row">
				<a class="text-white" href="#">
					<div class="col-md-8 col-md-offset-2">
						<div class="row padding-12-0">
							<div class="col-md-1">
								<img class="logo-ui inline-block" src="/img/logo-ui.png"
									alt="SIAK-NG"> </img>
							</div>
							<div class="col-md-11">
								<span class="font-24">SIAK-NG UI</span><br></br> <span>Sistem
									Informasi Akademik Next Generation</span><br></br> <span
									class="text-yellow">Universitas Indonesia</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="row">
				<div class="col-md-12 padding-top-8 color-secondary">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="#">Ringkasan <span
										class="sr-only">(current)</span></a></li>
								<li><a href="#">Isi IRS</a></li>
								<li></li>
								<li><a href="#">Kalender Akademik</a></li>
								<li></li>
								<li><a href="#">Jadwal Kuliah</a></li>
								<li></li>
								<li><a href="#">Profil</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>-->

	<div th:fragment="content" class="col-md-8 col-md-offset-2">
		<div class="row">
			<h1>List of Class</h1>
			<div>
				<a th:href="'/sekre/classes/add/' ">
					<button type="button" class="btn btn-primary">Add Class</button>
				</a>
			</div>
			<table id="datatable" class="table display">
				<thead>
					<tr>
						<th>No.</th>
						<th>Term ID</th>
						<th>Class ID</th>
						<th>Class Name</th>
						<th>Schedule</th>
						<th>Classroom</th>
					</tr>
				</thead>
				<tbody>
					<div th:each="classes,iterationStatus: ${classes}">
						<tr>
							<td>
								<p th:text="${iterationStatus.count}"></p>
							</td>
							<td>
								<p th:text="${classes.id_term}"></p>
							</td>
							<td>
								<p th:text="${classes.class_id}"></p>
							</td>
							<td>
								<p th:text="${classes.class_name}"></p>
							</td>
							<td>
								<p th:text="${classes.schedule}"></p>
							</td>
							<td>
								<p th:text="${classes.classroom}"></p>
							</td>
							<td><a
								th:href="'/sekre/classes/view/info/' + ${classes.class_id}">
									<button type="button" class="btn btn-primary">View
										Class Info</button>
							</a></td>


						</tr>
					</div>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>

