<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="master :: master">
	<div th:fragment="content" class="col-md-8 col-md-offset-2">
		<!-- Content goes below here -->
		
		<div class="page-header">
            <h1>403 Forbidden Access</h1>
        </div>
        
        <!-- The rest of the content belong below here -->
        <div class="panel panel-default">
        	<div class="panel-body text-center">
        		<div class="alert alert-danger" role="alert">
        			Anda tidak memiliki akses pada halaman ini.          			    		
        		</div>
        	</div>
        </div>
		<!-- end of content -->
	</div>
</html>